*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbars{
  justify-content: space-between;
  flex-direction: column;
  text-transform: uppercase;
  margin-left: 5px;
  color:#fff;
  
}

.form {
  width: 100%;
}
.navbars h1 {


  box-sizing: 12px;
  border-radius:5px ;
  
}

.emoji {
  width: 100px;
}